"extends": "airbnb-base"
"rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "import/extensions": 0,
      "max-len": 0,
    "no-unused-expressions": ['warn', {
      "allowShortCircuit": true,
      "allowTernary": true,
      "allowTaggedTemplates": true,
    }],
    "no-undef": 'warn',
    "import/no-unresolved": 'warn',
    "class-methods-use-this": 'warn',
    'no-unused-vars': 'warn'
}
