"extends": "airbnb-base"
"globals": {
        "$": false
}
"rules": {
    "linebreak-style": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": ['error', {
      "allowShortCircuit": true,
      "allowTernary": true,
      "allowTaggedTemplates": true,
    }]
}
