@font-face{
    
    font-family LatoLight;
    src url(./Fonts/Lato-Light.woff) format('woff'),
        url(./Fonts/Lato-Light.ttf) format('truetype'),
        url(./Fonts/Lato-Light.svg#LatoLight) format('svg');
    font-style normal;
    font-weight 300;
}


body{
    
   font-family LatoLight;
   font-style normal;
   font-weight 300;
}


.container{
 
    width 1100px;
    margin auto;
    margin-top 3%;
    
    .controls{
        
        display flex;
        margin-bottom 2em;
        
        > *{
            
            margin-right 2em;
            
            input::-ms-clear {
                display: none;
            }
            
            span{
                
                user-select none;
                font-size 1.2em;
            }
        }
    }
    
    .field{
        
        canvas{
            
            margin auto;
            display block;
            border solid black 1px;
        }
    }
    
}